@font-face{
    font-family: "monoid";
    src: url("../resources/monoid.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: monoid;
}
body{
    display: flex;
}
header{
    width: 20%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ff5079;
    gap: 20px;
}
img{
    margin: 0 auto;
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-left: 30%;
    gap: 20px;
}
ul{
    width: 100%;
    text-align: end;
    list-style: none;
    border: 1px solid #ffffff7a;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
ul > a{
    box-sizing: border-box;
    display: inline-block;
    width: inherit;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
main{
    width: 80%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000f3cde;
}
#upper_section{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#upper_section > select{
    padding: 10px;
}
#lower_section{
    height: calc(100% - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#doctor_form, #pharmacy_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    gap: 5px;
    visibility: hidden;
    display: none
}
#doctor_form > input, #doctor_form > textarea, #pharmacy_form > input, #pharmacy_form > textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffffed;
    border: none;
    border-bottom: 3px solid #33e2ffde;
}
#doctor_form > input:focus, #doctor_form > textarea:focus, #pharmacy_form > input:focus, #pharmacy_form > textarea:focus{
    outline: none;
}
#doctor_form textarea, #pharmacy_form textarea{
    resize: none;
    overflow-y: auto;
}
button{
    padding: 10px;
    visibility: hidden;
    display: none
}
@media only screen and (max-device-width: 800px){
    *{
        font-size: 13px;
    }
    ::placeholder{
        font-size: 10px;
    }
}
@media only screen and (max-device-width: 1000px){
    *{
        font-size: 13px;
    }
    ::placeholder{
        font-size: 10px;
    }
}
@media only screen and (max-width: 800px){
    *{
        font-size: 13px;
    }
    ::placeholder{
        font-size: 10px;
    }
}
@media only screen and (max-width: 1000px){
    *{
        font-size: 13px;
    }
    ::placeholder{
        font-size: 10px;
    }
}