:root{
    --header_color: #dff2ff;
    --text_color: #010101a6;
    --nav_items_color: linear-gradient(90deg, rgba(175, 249, 227, 0.5) 50%, rgba(254, 208, 208, 0.5) 50%);;
    --nav_items_shadow: -3px 3px 6px #c9dae6, 3px -3px 6px #ffffff;
    --nav_items_shadow_clicked: inset -3px 3px 6px #c9dae6, inset 3px -3px 6px #ffffff;
}
@font-face{
    font-family: "monoid";
    src: url("../resources/monoid.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: monoid;
    font-size: 15px;
}
.container{
    padding: 10px;
}
header{
    background-color: var(--header_color);
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1220px;
}
.nv_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nv_icon img{
    display: block;
    height: 50px;
}
#nv_items{
    display: flex;
    align-items: center;
    list-style: none;
    color: var(--text_color);
    gap: 10px;
}
#nv_items .list_styling{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    color: var(--text_color);
    text-decoration: none;
    background: var(--nav_items_color);
    box-shadow: var(--nav_items_shadow);
}
#nv_items .list_styling:active{
    box-shadow: var(--nav_items_shadow_clicked);
}
main{
    background-color: #efefef;
}
#main_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ebf0ff;
    padding: 10px;
}
#dashboard{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #c9caff;
    padding: 10px;
    min-height: 10vh;
}
#item_1{
    box-sizing: border-box;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fa5ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #151515;
    font-weight: bold;
    font-size: 30px;
}
#graph_box{
    width: 100%;
    display: flex;
    gap: 10px;
}
.graph{
    width: 50%;
    height: 50%;
    background-color: #fff;
}
@media only screen and (max-device-width: 800px){
    #navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #nv_items{
        flex-direction: column;
    }
    #dashboard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #item_1{
        width: 100%;
    }
    #graph_box{
        flex-direction: column;
        align-items: center;
    }
    .graph{
        width: 100%;
    }
}
@media only screen and (max-device-width: 1000px){

}
@media only screen and (max-width: 800px){
    #navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #nv_items{
        flex-direction: column;
    }
    #dashboard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #item_1{
        width: 100%;
    }
    #graph_box{
        flex-direction: column;
        align-items: center;
    }
    .graph{
        width: 100%;
    }
}
@media only screen and (max-width: 1000px){

}