#print{
    width: 50%;
    /* display: none;
    visibility: hidden; */
    margin: auto;
}
#p1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 2px dashed black;
    gap: 5px;
}
#p1 label{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px dashed black;
}
#head{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
}
#head label{
    text-decoration: underline;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#body{
    display: flex;
    padding: 10px 15px;
    border: 1px solid black;
    border-top: none;
}
#p3{
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 20px;
}
#p3 label{
    box-sizing: border-box;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
#block_1 label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
#block_2 label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
#block_3 label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
#block_4 label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
#p4{
    box-sizing: border-box;
    width: calc(100% - 30%);
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    gap: 20px;
}
#p4 label{
    box-sizing: border-box;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
#first{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
#middle label{
    box-sizing: border-box;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-left: 20px;
}
#middle label:first-child{
    margin-left: 0;
}
#last label:nth-last-child(1){
    margin-top: 5px;
    margin-left: 20px;
}
@media print{ 
    #print{
        display: block;
        visibility: visible;
    }
}